.helloInput {
  width: 200px;
}

.title{
  color: white;
}
.mainText{
  color:white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #E6E6FA;

}

.page-footer{
  background-color: #B0E0E6;
}
main {
  flex: 1 0 auto;
}
    