<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <a id="book" 
      class="waves-effect waves-light btn-flat btn-large white-text right modal-trigger"href="#appoint"
      >
      ~ Make An Appoint ~
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Gallery One</a></li>
      <li><a href="/two">Gallery Two</a></li>
      <li><a href="/book">Book List</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Gallery One</a></li>
  <li><a href="/two">Gallery Two</a></li>
  <li><a href="/book">Book List Two</a></li>
</ul>

<div id="appoint" class="modal"></div>